<div class="row">
  <div class="span12">
    <h2 class="o-que-e">O que é</h2>
  </div>

  <div class="span6">
    <p>O #USPOCUPA é um projeto piloto de iniciativa apartidária promovido pelo coletivo de estudantes USP por São Paulo. Nosso principal objetivo é ajudar a diluir as fronteiras que separam a USP da cidade. Aproveitando o ano de eleições municipais para prefeito e vereador, o projeto pretende mapear propostas inovadoras pensadas pela comunidade uspiana não só para qualificar o debate eleitoral, mas para pedir dos candidatos um posicionamento e, assim, resgatar a capacidade da universidade em influenciar a vida pública.</p>
    <p>Elaboramos, em parceria com o Cidade Democrática, um concurso para selecionar 12 propostas para a cidade de São Paulo, que podem ser enviadas por estudantes, professores, funcionários,</p>
  </div>

  <div class="span6">
    núcleos de Pesquisa e de Extensão, centros acadêmicos e outras entidades ligadas à USP. As ideias ficarão reunidas em uma plataforma virtual e poderão ser apoiadas e comentadas. Aquelas que tiverem maior quantidade de apoiadores, comentários e seguidores da proposta serão apresentadas aos candidatos para prefeito e podem se tornar compromissos públicos a serem fiscalizados por toda a população.
    <p>É hora de ocupar com ideias o vazio entre a USP e São Paulo. O conhecimento produzido na Academia deve ser usado para melhorar a cidade como um todo, já que, como universidade pública, a USP precisa responder ao investimento da sociedade.</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2 class="quem-somos">Quem somos</h2>
  </div>

  <div class="span6">
    <p>O coletivo USP por São Paulo reúne entidades, movimentos, projetos e alunos independentes de diversas unidades da USP.</p>
    <p>Entre os integrantes e colaboradores organizadores deste projeto, estão alunos das seguintes unidades: FFLCH, FEA, ECA, FAU, POLI e FD. Também integram o projeto o Centro Acadêmico XI de Agosto (FD), o coletivo Oitentaedois (FAU), o Projeto de Extensão Redigir (ECA) e o Grêmio da Poli (Poli).</p>
  </div>

  <div class="span6">
    <a href="http://participe.uspocupa.org.br/" class="participe">Participe</a>
  </div>
</div>
