@import "compass/utilities/text/replacement";

.o-que-e {
  @include replace-text("o-que-e.png");
  height: 36px;
  width: 95px;
  margin-bottom: 24px;
}

.quem-somos {
  @include replace-text("quem-somos.png");
  height: 28px;
  width: 152px;
  margin: 30px 0 24px;
}

.em-breve {
  @include replace-text("em-breve.png");
  height: 118px;
  width: 123px;
  float: right;
}

.content {
  text-align: justify;
  
  p {
    text-indent: 35px;
    margin-bottom: 0;
  }
}

.participe {
  @include replace-text("participe.png");
  float: right;
  height: 118px;
  width: 300px;
}
