<div id="myCarousel" class="carousel slide">
  <div class="container">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"><%= image_tag("fhc.jpg") %></div>
      <div class="item"><%= image_tag("bucci.jpg") %></div>
      <div class="item"><%= image_tag("luli.jpg") %></div>
      <div class="item"><%= image_tag("raquel.jpg") %></div>
    </div>
    <!-- Carousel nav -->
    <ul class="pagination">
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
    </ul>
  </div>
</div>
